################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Maps/.vs/
/Maps/Maps/obj
/Maps/Maps/bin
/.vs/
